#Worker analysis of job #758438

Tong Shu Li<br>
Created on Saturday 2015-08-01<br>
Last updated 2015-08-03

We take a look at the individual workers of job 758438.

In [1]:
from collections import defaultdict
import datetime as dt
import matplotlib as plt
import pandas as pd
import random

In [2]:
random.seed("2015-08-03:14:03")

In [3]:
NUMPY_RAND_SEED = 993402

In [4]:
matplotlib inline

---

In [5]:
raw_data = pd.read_csv("data/crowdflower/results/job_758438_full_with_untrusted.csv", sep = ",")

---

###Building a profile about each worker:

started at time is before created at time

In [6]:
def convert_time(text):
    """
    Given the time in CrowdFlower's output format,
    convert it to a Python datetime object.
    CrowdFlower time stamps are in UTC.
    
    CrowdFlower timestamps have the following format:
    
    month/day/year hour:minute:second
    
    Example:
    
    8/2/2015 00:26:24
    """
    return dt.datetime.strptime(text, "%m/%d/%Y %H:%M:%S")

def time_elapsed(start, stop):
    """
    Given two Python datetime objects, determines the number
    of seconds between those two times.
    """
    return int((stop - start).total_seconds())

def determine_time_taken(dataframe):
    """
    Given a dataframe with the responses from one worker,
    determines the time taken for each individual work unit.
    """
    def convert_wrapper(row):
        return (convert_time(row["_started_at"]), convert_time(row["_created_at"]))
    
    def time_taken_wrapper(row):
        return time_elapsed(row[0], row[1])
    
    if dataframe.empty:
        return pd.Series()

    # convert to datetime objects
    time_stamps = dataframe[["_started_at", "_created_at"]].apply(convert_wrapper, axis = 1)
    
    # determine time elapsed in seconds
    time_taken = time_stamps.map(time_taken_wrapper)
    return time_taken

In [7]:
def time_stats(time_series):
    """
    Given the time taken for each individual work unit,
    determines some stats.
    """
    return (time_series.min(), time_series.median(), time_series.max())

###Build worker profiles:

In [8]:
def build_worker_profiles(raw_data):
    """
    Build a profile for every worker that tried the task.
    """
    res = defaultdict(list)
    
    metadata = ["_trust", "_ip", "_country"]
    ans_choices = ["yes_direct", "yes_indirect", "no_relation", "ner_error"]
    
    for worker_id, group in raw_data.groupby("_worker_id"):
        test_resp = group.query("_golden")
        work_resp = group.query("~_golden")
        
        res["worker_id"].append(worker_id)
        res["test_ques_seen"].append(len(test_resp["uniq_id"].unique()))
        res["work_units_seen"].append(len(work_resp["uniq_id"].unique()))
        
        for metadata_col in metadata:
            res[metadata_col.lstrip("_")].append(test_resp[metadata_col].iloc[0])
            
        for work_type, resp_data in zip(["test", "work"], [test_resp, work_resp]):
            time_series = determine_time_taken(resp_data)
            stats = time_stats(time_series)
            for i, name in enumerate(["min", "median", "max"]):
                res["{0}_{1}_time".format(work_type, name)].append(stats[i])
                
            # look at the response distributions
            for ans_choice in ans_choices:
                temp = resp_data.query("verify_relationship == '{0}'".format(ans_choice))
                res["{0}_{1}".format(work_type, ans_choice)].append(len(temp["uniq_id"].unique()))
        
    return pd.DataFrame(res)

In [9]:
res = build_worker_profiles(raw_data)

In [10]:
res

,country,ip,test_max_time,test_median_time,test_min_time,test_ner_error,test_no_relation,test_ques_seen,test_yes_direct,test_yes_indirect,trust,work_max_time,work_median_time,work_min_time,work_ner_error,work_no_relation,work_units_seen,work_yes_direct,work_yes_indirect,worker_id
0,USA,23.119.108.175,439,439.0,439,0,2,6,2,1,0.5000,NaN,NaN,NaN,0,0,0,0,0,3694955
1,PHL,49.144.240.111,680,680.0,680,0,2,6,3,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,6332651
2,MEX,189.202.57.112,1256,1256.0,1256,0,4,6,2,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,6347829
3,CAN,70.50.92.191,1025,1025.0,1025,0,2,6,3,1,0.5000,NaN,NaN,NaN,0,0,0,0,0,6450461
4,USA,67.247.11.75,515,515.0,515,0,1,6,2,3,0.1667,NaN,NaN,NaN,0,0,0,0,0,7051387
5,USA,104.33.65.133,273,273.0,273,0,1,6,0,1,0.1667,NaN,NaN,NaN,0,0,0,0,0,7211526
6,PHL,124.6.181.50,1106,1106.0,1106,0,4,6,0,1,0.6667,NaN,NaN,NaN,0,0,0,0,0,8375045
7,BEL,81.242.111.156,602,602.0,602,0,5,6,0,1,0.6667,NaN,NaN,NaN,0,0,0,0,0,8841252
8,IND,117.215.177.9,1397,720.0,247,0,7,14,6,1,0.7857,784,564.5,247,0,30,40,6,4,9832767
9,MYS,175.136.23.48,328,328.0,328,0,0,6,6,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,11026819
10,USA,184.21.145.21,278,278.0,278,0,4,6,1,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,11029445
11,BRA,179.223.135.243,980,980.0,980,0,4,6,1,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,11029942
12,USA,73.7.106.173,771,547.0,518,0,4,8,2,1,0.7500,771,644.5,518,0,7,10,3,0,11102360
13,USA,173.48.52.95,1106,1106.0,1106,0,1,6,1,2,0.3333,NaN,NaN,NaN,0,0,0,0,0,11106820
14,USA,99.170.106.105,844,186.0,26,0,18,21,3,0,0.7619,844,153.0,26,0,66,75,7,1,11291592
15,IDN,120.164.45.117,937,937.0,406,0,8,9,0,1,0.6667,481,432.0,406,0,12,15,1,1,11899032
16,MYS,60.53.183.195,365,365.0,365,0,4,6,2,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,11975072
17,PRT,188.83.29.36,517,121.0,44,0,26,33,7,0,0.6970,181,107.0,44,0,111,135,24,0,12216479
18,VEN,186.91.244.102,1107,1107.0,1107,0,2,6,1,1,0.3333,NaN,NaN,NaN,0,0,0,0,0,12778864
19,IDN,36.72.132.210,813,400.0,400,0,7,8,0,1,0.8750,813,754.0,695,0,6,10,2,1,13021762
20,USA,66.232.166.86,209,209.0,209,0,4,6,2,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,13581319
21,IDN,180.253.108.158,1739,1739.0,1739,0,4,6,1,1,0.8333,NaN,NaN,NaN,0,0,0,0,0,14311647
22,BRA,189.49.91.13,620,620.0,620,0,4,6,1,1,0.3333,NaN,NaN,NaN,0,0,0,0,0,14768021
23,MEX,201.120.205.3,1410,219.0,106,0,18,35,16,0,0.8286,1410,196.0,106,0,88,145,56,1,16323114
24,CAN,209.89.95.207,598,598.0,598,0,4,6,1,1,0.6667,NaN,NaN,NaN,0,0,0,0,0,16656406
25,ESP,213.143.48.77,267,267.0,267,0,2,6,3,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,16741266
26,ARG,190.193.94.84,545,545.0,545,0,4,6,0,1,0.6667,NaN,NaN,NaN,0,0,0,0,0,16805595
27,IND,103.15.63.229,1285,1285.0,1285,0,3,6,3,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,18146452
28,IDN,114.124.25.148,733,733.0,733,0,0,6,3,0,0.1667,NaN,NaN,NaN,0,0,0,0,0,18876659
29,PHL,112.198.83.166,932,932.0,92,0,5,8,3,0,0.8750,685,685.0,92,0,6,8,0,0,19130982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,SWE,83.216.102.146,646,646.0,646,0,3,6,3,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,33216143
179,NLD,77.248.148.5,605,588.0,588,0,5,7,2,0,0.8571,605,605.0,605,0,5,5,0,0,33238902
180,USA,108.59.8.210,1105,86.0,86,0,8,11,3,0,1.0000,1105,288.0,237,0,12,25,7,6,33251186
181,HRV,141.136.184.184,354,354.0,354,0,0,6,6,0,0.1667,NaN,NaN,NaN,0,0,0,0,0,33269250
182,VEN,201.209.52.167,485,485.0,485,0,0,6,3,2,0.3333,NaN,NaN,NaN,0,0,0,0,0,33269858
183,VNM,115.74.42.25,917,917.0,917,0,3,6,1,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,33298556
184,IND,49.15.88.25,77,77.0,77,0,2,6,4,0,1.0000,NaN,NaN,NaN,0,0,0,0,0,33300965
185,IND,49.15.217.252,94,94.0,94,0,2,6,4,0,1.0000,NaN,NaN,NaN,0,0,0,0,0,33301022
186,IND,112.110.89.25,121,52.0,43,0,34,52,15,1,0.9423,121,50.0,43,0,0,230,0,0,33301062
187,IND,27.97.209.28,72,72.0,45,0,6,10,3,0,0.9000,58,49.5,45,0,0,20,0,0,33301138
188,IND,106.76.50.209,110,110.0,110,0,4,6,2,0,1.0000,NaN,NaN,NaN,0,0,0,0,0,33301221
189,IND,106.77.191.187,98,98.0,98,0,4,6,2,0,1.0000,NaN,NaN,NaN,0,0,0,0,0,33301264
190,IND,106.76.255.123,86,86.0,86,0,4,6,2,0,1.0000,NaN,NaN,NaN,0,0,0,0,0,33301357
191,VEN,190.36.183.52,497,497.0,497,0,2,6,4,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,33314121
192,NZL,119.224.107.248,1110,520.5,99,0,15,26,11,0,0.8846,1110,381.0,99,0,69,100,30,1,33386248
193,BRA,177.87.78.17,315,86.5,34,0,32,52,20,0,0.8462,243,77.0,34,0,176,230,54,0,33387828
194,VEN,201.210.91.240,1031,597.0,597,0,4,8,4,0,0.8750,1031,862.5,694,0,6,10,1,2,33455574
195,USA,50.73.102.253,318,318.0,318,0,3,6,1,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,33514557
196,SRB,178.149.111.26,513,513.0,513,0,1,6,5,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,33580181
197,VNM,113.189.127.72,317,317.0,317,0,0,6,6,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,33595991
198,VNM,14.165.100.249,275,275.0,36,0,6,8,2,0,1.0000,74,55.0,36,0,5,10,5,0,33596095
199,VEN,190.207.34.243,2103,2103.0,1282,0,5,10,5,0,0.8000,1670,1605.5,1282,0,11,20,7,1,33605234
200,USA,67.86.221.14,215,215.0,215,0,3,6,2,1,0.6667,NaN,NaN,NaN,0,0,0,0,0,33623160
201,MEX,189.163.170.166,497,497.0,497,0,2,6,4,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,33634654
202,CHL,201.236.13.61,278,278.0,123,0,7,9,2,0,0.8889,215,191.0,123,0,14,15,0,0,33640330
203,VEN,190.72.85.193,1097,1097.0,646,0,5,9,4,0,0.6667,775,655.0,646,0,5,15,7,1,33664647
204,VNM,1.52.163.51,120,120.0,120,0,0,6,0,0,0.0000,NaN,NaN,NaN,0,0,0,0,0,33669016
205,MEX,187.158.50.198,1285,1285.0,1285,0,3,6,2,0,0.6667,NaN,NaN,NaN,0,0,0,0,0,33693322
206,SRB,109.122.85.193,154,154.0,154,0,4,6,0,0,0.5000,NaN,NaN,NaN,0,0,0,0,0,33705733
207,USA,76.1.214.119,525,88.5,43,0,18,28,10,0,0.7857,525,77.0,43,0,81,110,27,2,33721948

In [12]:
def find_bad_workers(raw_data):
    """
    Find workers who have weird response distributions.
    """
    bad_workers = defaultdict(list)

    for worker_id, group in raw_data.groupby("_worker_id"):
        work_resp = group.query("~_golden")
        work_distribution = work_resp["verify_relationship"].value_counts()
        if len(work_distribution) == 1:
            bad_workers["worker_id"].append(worker_id)
            bad_workers["top_response"].append(work_distribution.index.values[0])
            bad_workers["num_responses"].append(work_distribution.iloc[0])
            
            assert len(work_resp["_ip"].unique()) == 1
            assert len(work_resp["_country"].unique()) == 1
            bad_workers["country"].append(work_resp["_country"].iloc[0])
            bad_workers["ip"].append(work_resp["_ip"].iloc[0])
            
            bad_workers["trust"].append(work_resp["_trust"].iloc[0])
            
    return pd.DataFrame(bad_workers)

In [20]:
def sample_worker_responses(job_id, worker_id, raw_data, sample_size = 10):
    """
    Randomly sample a worker's responses for review by hand.
    """
    test_resp = raw_data.query("_golden and _worker_id == {0}".format(worker_id))
    work_resp = raw_data.query("~_golden and _worker_id == {0}".format(worker_id))
    
    test_sample = test_resp.sample(sample_size, random_state = NUMPY_RAND_SEED)
    work_sample = work_resp.sample(sample_size, random_state = NUMPY_RAND_SEED)
    
    print "Worker id:", worker_id
    
    print "Test question sample:"
    for unit_id in test_sample["_unit_id"].unique():
        print "https://crowdflower.com/jobs/{0}/units/{1}".format(job_id, unit_id)

    print "Work question sample:"
    for unit_id in work_sample["_unit_id"].unique():
        print "https://crowdflower.com/jobs/{0}/units/{1}".format(job_id, unit_id)
        
    print "-----------------------------------------------------------------"

In [21]:
bad_workers = find_bad_workers(raw_data)

In [22]:
bad_workers

   country               ip  num_responses top_response   trust  worker_id
0      VNM      14.0.30.220            165  no_relation  0.6923   31501233
1      VNM     115.76.94.63            230  no_relation  0.8654   31720388
2      VNM     115.76.94.63            230  no_relation  0.9808   31720815
3      VNM  210.211.118.133             60  no_relation  1.0000   32025293
4      IND     49.15.80.177             25  ner_mistake  1.0000   33081102
5      IND    106.76.60.227            230  ner_mistake  0.9615   33081299
6      IND    27.97.189.169            230  ner_mistake  0.9808   33081469
7      IND     49.15.95.167            121  ner_mistake  0.9355   33081531
8      VNM   125.212.192.29            198  no_relation  0.9565   33085305
9      VNM     115.76.94.63             17  no_relation  1.0000   33085428
10     NLD     77.248.148.5              5  no_relation  0.8571   33238902
11     IND    112.110.89.25            230  ner_mistake  0.9423   33301062
12     IND     27.97.209.28             20  ner_mistake  0.9000   33301138

In [23]:
sample_worker_responses(758438, 33081299, raw_data)

Worker id: 33081299
Test question sample:
https://crowdflower.com/jobs/758438/units/765528961
https://crowdflower.com/jobs/758438/units/765528954
https://crowdflower.com/jobs/758438/units/765528951
https://crowdflower.com/jobs/758438/units/765528963
https://crowdflower.com/jobs/758438/units/765528948
https://crowdflower.com/jobs/758438/units/765528976
https://crowdflower.com/jobs/758438/units/765528938
https://crowdflower.com/jobs/758438/units/765528946
https://crowdflower.com/jobs/758438/units/765528934
https://crowdflower.com/jobs/758438/units/765528974
Work question sample:
https://crowdflower.com/jobs/758438/units/765528299
https://crowdflower.com/jobs/758438/units/765528403
https://crowdflower.com/jobs/758438/units/765528634
https://crowdflower.com/jobs/758438/units/765528345
https://crowdflower.com/jobs/758438/units/765528895
https://crowdflower.com/jobs/758438/units/765528707
https://crowdflower.com/jobs/758438/units/765528548
https://crowdflower.com/jobs/758438/units/765528716
https://crowdflower.com/jobs/758438/units/765528423
https://crowdflower.com/jobs/758438/units/765528553
-----------------------------------------------------------------

In [47]:
for worker_id in bad_workers:
    s = "https://crowdflower.com/jobs/758438/contributors/{0}".format(worker_id)
    print s

https://crowdflower.com/jobs/758438/contributors/31720388
https://crowdflower.com/jobs/758438/contributors/33301062
https://crowdflower.com/jobs/758438/contributors/32025293
https://crowdflower.com/jobs/758438/contributors/33081102
https://crowdflower.com/jobs/758438/contributors/31720815
https://crowdflower.com/jobs/758438/contributors/31501233
https://crowdflower.com/jobs/758438/contributors/33301138
https://crowdflower.com/jobs/758438/contributors/33081299
https://crowdflower.com/jobs/758438/contributors/33085428
https://crowdflower.com/jobs/758438/contributors/33238902
https://crowdflower.com/jobs/758438/contributors/33085305
https://crowdflower.com/jobs/758438/contributors/33081531
https://crowdflower.com/jobs/758438/contributors/33081469

In [50]:
work_units = raw_data.query("~_golden and _worker_id == {0}".format(33081102))

In [51]:
len(work_units)

25

In [52]:
import random

In [56]:
def worker_units_sample(worker_id, raw_data):
    """
    Randomly sample the work units the worker did.
    """
    job_id = 758438
    work_units = raw_data.query("~_golden and _worker_id == {0}".format(worker_id))

    sample = random.sample(list(work_units["_unit_id"].unique()), 10)
    for unit_id in sample:
        print "https://crowdflower.com/jobs/758438/units/{0}".format(unit_id)

In [57]:
worker_units_sample(33085428, raw_data)

https://crowdflower.com/jobs/758438/units/765528827
https://crowdflower.com/jobs/758438/units/765528569
https://crowdflower.com/jobs/758438/units/765528678
https://crowdflower.com/jobs/758438/units/765528387
https://crowdflower.com/jobs/758438/units/765528570
https://crowdflower.com/jobs/758438/units/765528519
https://crowdflower.com/jobs/758438/units/765527890
https://crowdflower.com/jobs/758438/units/765528235
https://crowdflower.com/jobs/758438/units/765528029
https://crowdflower.com/jobs/758438/units/765527942